.stage {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 384px;
  padding: 16px;
  margin: 32px auto;
  background-color: #efefef;
  border-radius: 8px;
}
